streamlit==1.26.1
langchain==0.1.239
langchain-community==0.0.254
faiss-cpu==1.7.4
PyPDF2==3.1.0
transformers==4.40.0
torch==2.1.0
sentence-transformers==2.2.2
google-cloud-aiplatform==2.24.0
grpcio==1.59.1
python-dotenv==1.0.0
